html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: azure;
}

.main {
    border: 1px solid red;
}

.footer {
    background-color: azure;
    padding: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* .nav {
   
} */

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
    color: blue;
    text-decoration: none;
}

/*.section-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
  } */

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    color: black;
}

.rss_logo {
    background-image: url("./assets/svg/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.section-title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #1fa331;
  }

.section-title-person {
    font-size: 36px;
}
